<footer>
  <div class="footer" style="background-color: #bee5eb">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="link_menu pl-0">
            <h4><a href="#">Giới thiệu</a></h4>
            <h4><a href="#">Chính sách bảo mật</a></h4>
            <h4><a href="#">Chính sách vận chuyển</a></h4>
            <h4><a href="#">Hình thức thanh toán</a></h4>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="link_menu">
            <h4><a href="#">Quy định đổi, trả và hủy đơn hàng</a></h4>
            <h4><a href="#">Hướng dẫn đặt hàng</a></h4>
            <h4><a href="#">Liên hệ</a></h4>
            <h4><a href="#">Thông báo</a></h4>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>News letter</h3>
          <form class="bottom_form">
            <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
            <button class="sub_btn">subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p>
              © 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html
              Templates</a>
              <br><br>
              Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
